.header{
    text-align: center;
}
#navheader{  
    background-image: url("header.png");
    height:670px;
}

#navheader .navbar-header {
  margin-left: -170px;
  
}

#navheader #navbar {
	margin-right: -200px;
}
.navbar-nav li a{
    color:white;
    font-size: 20px;
}

.navbar-header a{
    color:white;
    font-size: 20px;
}

header{
    margin:230px;
}

header h1{
    font-size: 50px;
}

header p{
    font-size: 10px;
}